@import '../../.config/waybar/wallust/colors-waybar.css';

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 11px;
    padding: 0 0.4em;
    transition: none;
}

window#waybar {
    background-color: #000;
    color: @foreground;
}

/** Common style **/
#gs,
#hwstats,
#workspaces,
#menu,
#pulseaudio,
#network,
#inhibitor,
#clock {
    padding: 0 1em;
    background-color: transparent;
    border-left: 1px solid #fff;
}

#menu {
    border-left: none;
}

#workspaces{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    margin: 0;
    padding: 0;
}

#workspaces button {
    background-color: transparent;
    color: @color7;
    opacity: 1;
    border-radius: 0;
}

#workspaces button.active {
    background-color: @color2;
}

#workspaces button:hover {
    background-color: @color5;
    color: @color7;
}

#wireless label, #music label {
    border-left: none;
    padding: 0 0.4em;
}
